<div class="content container-fluid">
  <div class="content-page-header">
    <h5>Add Blog</h5>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card-body">
        <div class="form-group-item border-0 pb-0">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Title <span class="text-danger">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Title"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Category</label>
                <select class="select">
                  <option>Select Category</option>
                  <option>Category 1</option>
                  <option>Category 2</option>
                  <option>Category 3</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Parent Category</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Parent Category"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="form-group" id="summernote_container">
                <label class="form-control-label">Description</label>
                <textarea
                  class="summernote form-control"
                  placeholder="Type your message"
                ></textarea>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <label>Image</label>
                <div class="form-group service-upload mb-0">
                  <span
                    ><img src="assets/img/icons/drop-icon.svg" alt="upload"
                  /></span>
                  <h6 class="drop-browse align-center">
                    Drop your files here or<span class="text-primary ms-1"
                      >browse</span
                    >
                  </h6>
                  <p class="text-muted">Maximum size: 50MB</p>
                  <input type="file" multiple="" id="image_sign" />
                  <div id="frames"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-end mt-4">
          <button type="reset" class="btn btn-primary cancel me-2">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary">Add Post</button>
        </div>
      </div>
    </div>
  </div>
</div>
