<!-- Page Header -->
<div class="page-header">
    <div class="content-page-header ">
        <h5>Inventory</h5>
        <div class="list-btn">
            <ul class="filter-list">
                <li>
                    <a (click)="open()"  matTooltip="Filter"href="javascript:void(0);" class="btn btn-filters w-auto popup-toggle"><span class="me-2"><img src="assets/img/icons/filter-icon.svg" alt="filter"></span>Filter </a>
                </li>
                <li>
                    <a class="active btn-filters" matTooltip="List-View"

                    href="javascript:void(0);"><span><i class="feather icon-list"></i></span> </a>
                </li>
                <li>
                    <a class="btn-filters" matTooltip="Grid-View"  href="javascript:void(0);"><span><i class="feather icon-grid"></i></span> </a>
                </li>
                
                <li class="">
                    <div class="dropdown dropdown-action">
                        <a href="#" class="btn-filters" matTooltip="download" data-bs-toggle="dropdown" aria-expanded="false"><span><i class="feather icon-download"></i></span></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="d-block">
                                <li>
                                    <a class="d-flex align-items-center download-item" href="javascript:void(0);" download><i class="far fa-file-pdf me-2"></i>PDF</a>
                                </li>
                                <li>
                                    <a class="d-flex align-items-center download-item" href="javascript:void(0);" download><i class="far fa-file-text me-2"></i>CVS</a>
                                </li>
                            </ul>
                        </div>
                    </div>														
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->

<!-- Table -->
<div class="row">
    <div class="col-sm-12">
        <div class=" card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="table-scroll">
                    <table class="table table-center table-hover datatable">
                        <thead  matSort
                        (matSortChange)="sortData($event)"
                         class="thead-light">
                            <tr>
                                <th mat-sort-header="sNo">#</th>
                                <th mat-sort-header="item">Item</th>
                                <th mat-sort-header="code">Code</th>
                                <th mat-sort-header="units">Units</th>
                                <th mat-sort-header="quantity">Quantity</th>
                                <th mat-sort-header="sale">Sales Price</th>
                                <th mat-sort-header="purchase">Purchase Price</th>
                                <th mat-sort-header="action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of inventory; let i = index">
                                <td>{{data.sNo}}</td>
                                <td>{{data.item}}</td>
                                <td>{{data.code}}</td>
                                <td>{{data.units}}</td>
                                <td>{{data.quantity}}</td>
                                <td>{{data.sales}}</td>
                                <td>{{data.purchase}}</td>
                                <td class="d-flex align-items-center">
                                    <a href="#" class="btn btn-greys bg-success-light me-2" data-bs-toggle="modal" data-bs-target="#stock_in">
                                        <i class="fa fa-plus-circle me-1"></i> Stock in
                                    </a> 
                                    <a href="#" class="btn btn-greys bg-danger-light me-2" data-bs-toggle="modal" data-bs-target="#stock_out">
                                        <i class="fa fa-plus-circle me-1"></i> Stock out
                                    </a> 
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul>
                                                
                                                <li>
                                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_stock"><i class="far fa-trash-alt me-2"></i>Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                    <div class="table_header">
                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <div class="dataTables_length">
                             <label htmlFor="label">
                              Show
                              <select
                                [(ngModel)]="pageSize"
                                (ngModelChange)="PageSize()"
                                class="form-control form-control-sm"
                              >
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select>
                              Entries
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-3">
                        <div class="pagination_section">
                          <ul class="pagination">
                            <li
                              class="page-item "
                              [ngClass]="{
                                disabled: currentPage === 1
                              }"
                            >
                              <a
                                (click)="getMoreData('previous')"
                                class="page-link"
                                href="javascript:void(0);"
                                tabindex="-1"
                                ><i class="fa fa-angle-double-right me-2"></i>Previous</a
                              >
                            </li>
          
                            <ng-container
                              *ngFor="let item of pageNumberArray; let i = index"
                            >
                              <li
                                class="page-item"
                                [class.active]="item === currentPage"
                                [ngClass]="
                                  (pageNumberArray[currentPage - 2] > item &&
                                    item !== 1 &&
                                    pageNumberArray.length > 6) ||
                                  (pageNumberArray[currentPage] < item &&
                                    item !== 1 &&
                                    pageNumberArray.length > 6 &&
                                    pageNumberArray.length !== item)
                                    ? 'hide-sub-menu'
                                    : 'show-sub-menu'
                                "
                              >
                                <a
                                  (click)="moveToPage(item)"
                                  class="page-link"
                                  href="javascript:void(0);"
                                >
                                  {{ item }}
                                  <span *ngIf="item === currentPage" class="sr-only"
                                    >(current)</span
                                  >
                                </a>
                              </li>
                              <li
                                class="page-item"
                                *ngIf="
                                  i === 0 && pageNumberArray.length > 6 && currentPage > 2
                                "
                                [hidden]="currentPage === 1"
                               
                              >
                                <a class="page-link"  (click)="moveToPage(currentPage - 2)" href="javascript:void(0);"> ... </a>
                              </li>
                              <li
                                *ngIf="
                                  i === pageNumberArray.length - 2 &&
                                  pageNumberArray.length > 6
                                "
                                [hidden]="
                                  currentPage >=
                                    pageNumberArray[pageNumberArray.length - 2] ||
                                  totalData <
                                    serialNumberArray[serialNumberArray.length - 1]
                                "
                                class="page-item"
                                
                              >
                                <a class="page-link" (click)="moveToPage(currentPage + 2)" href="javascript:void(0);"> ... </a>
                              </li>
                            </ng-container>
          
                            <li
                              class="page-item"
                              [ngClass]="{
                                disabled:
                                  currentPage ===
                                    pageNumberArray[pageNumberArray.length - 1] ||
                                    inventory.length === 0
                              }"
                            >
                              <a
                                (click)="getMoreData('next')"
                                class="page-link"
                                href="javascript:void(0);"
                                >Next<i class="fa fa-angle-double-left ms-2"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                  </div>
                 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Table -->

 <!-- Add Asset -->
 <div [ngClass]="{'open-filter' : Toggledata === true}" class="toggle-sidebar">
    <div class="sidebar-layout-filter">
        <div class="sidebar-header">
            <h5>Filter</h5>
            <a (click)="open()"  href="javascript:void(0);" class="sidebar-closes"><i class="fa-regular fa-circle-xmark"></i></a>
        </div>
        <div class="sidebar-body">						
            <form action="#" autocomplete="off">
                <!-- Customer -->
                <div class="accordion" id="accordionMain1">
                    <div class="card-header-new" id="headingOne">
                        <h6 class="filter-title">
                        <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Customer	
                            <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                        </a> 
                        </h6>
                    </div>
                
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"  data-bs-parent="#accordionExample1">
                        <div class="card-body-chat">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="checkBoxes1">
                                        <div class="form-custom">														
                                            <input type="text" class="form-control" id="member_search1" placeholder="Search here">
                                            <span><img src="assets/img/icons/search.svg" alt="img"></span>
                                        </div>
                                        <div class="selectBox-cont">
                                            <label class="custom_check w-100">
                                                <input type="checkbox" name="username">
                                                <span class="checkmark"></span>  Brian Johnson
                                            </label>
                                            <label class="custom_check w-100">
                                                <input type="checkbox" name="username">
                                                <span class="checkmark"></span>  Russell Copeland
                                            </label>
                                            <label class="custom_check w-100">
                                                <input type="checkbox" name="username">
                                                <span class="checkmark"></span>  Greg Lynch
                                            </label>
                                            <label class="custom_check w-100">
                                                <input type="checkbox" name="username">
                                                <span class="checkmark"></span> John Blair
                                            </label>
                                             <!-- View All -->
                      <div class="view-content">
                        <div
                          class="viewall-One"
                          *ngFor="let user of users"
                          [ngClass]="{
                            closed: !isCollapsed,
                            open: isCollapsed
                          }"
                        >
                          <label htmlFor="label" class="custom_check w-100">
                            <input
                              id="label"
                              type="checkbox"
                              name="username"
                              [(ngModel)]="user.checked"
                            />
                            <span class="checkmark"></span> {{ user.name }}
                          </label>
                        </div>
                        <div class="view-all">
                          <a
                            href="javascript:void(0);"
                            class="viewall-button-One"
                            (click)="toggleCollapse()"
                            ><span class="me-2">{{
                              isCollapsed ? "Close" : "View all"
                            }}</span
                            ><span
                              ><i class="fa fa-circle-chevron-down"></i></span
                          ></a>
                        </div>
                      </div>
                      <!-- /View All -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Customer -->
  
                
  
                <!-- By Status -->
                <div class="accordion" id="accordionMain3">
                    <div class="card-header-new" id="headingThree">
                        <h6 class="filter-title">
                        <a href="javascript:void(0);" class="w-100 collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            Product Code
                            <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                        </a> 
                        </h6>
                    </div>
                
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"  data-bs-parent="#accordionExample3">
                        <div class="card-body-chat">
                            <div id="checkBoxes2">
                                <div class="form-custom">														
                                    <input type="text" class="form-control" id="member_search2" placeholder="Search here">
                                    <span><img src="assets/img/icons/search.svg" alt="img"></span>
                                </div>
                                <div class="selectBox-cont">
                                    <label class="custom_check w-100">
                                        <input type="checkbox" name="bystatus">
                                        <span class="checkmark"></span> P125389
                                    </label>
                                    <label class="custom_check w-100">
                                        <input type="checkbox" name="bystatus">
                                        <span class="checkmark"></span> P125390
                                    </label>
                                    <label class="custom_check w-100">
                                        <input type="checkbox" name="bystatus">
                                        <span class="checkmark"></span>  P125391
                                    </label>
                                    <label class="custom_check w-100">
                                        <input type="checkbox" name="bystatus">
                                        <span class="checkmark"></span>  P125392
                                    </label>
                                    <label class="custom_check w-100">
                                        <input type="checkbox" name="bystatus">
                                        <span class="checkmark"></span>  P125393
                                    </label>
                                    <label class="custom_check w-100">
                                        <input type="checkbox" name="bystatus">
                                        <span class="checkmark"></span>  P125394
                                    </label>
                                </div>
                            </div>	
                        </div>
                    </div>
                </div>
                <!-- /By Status -->
  
                <!-- Category -->
                <div class="accordion accordion-last" id="accordionMain4">
                    <div class="card-header-new" id="headingFour">
                        <h6 class="filter-title">
                        <a href="javascript:void(0);" class="w-100 collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            Category	
                            <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                        </a> 
                        </h6>
                    </div>
                
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"  data-bs-parent="#accordionExample4">
                        <div class="card-body-chat">
                            <div id="checkBoxes3">
                                <div class="selectBox-cont">
                                    <label class="custom_check w-100">
                                        <input type="checkbox" name="category">
                                        <span class="checkmark"></span> Advertising
                                    </label>
                                    <label class="custom_check w-100">
                                        <input type="checkbox" name="category">
                                        <span class="checkmark"></span>  Food
                                    </label>
                                    <label class="custom_check w-100">
                                        <input type="checkbox" name="category">
                                        <span class="checkmark"></span>  Repairs
                                    </label>
                                    <label class="custom_check w-100">
                                        <input type="checkbox" name="category">
                                        <span class="checkmark"></span> Software
                                    </label>
                                    <!-- View All -->
                                    <div class="view-content">
                                        <div class="viewall-Two">	
                                            <label class="custom_check w-100">
                                                <input type="checkbox" name="username">
                                                <span class="checkmark"></span> Stationary
                                            </label>
                                            <label class="custom_check w-100">
                                                <input type="checkbox" name="username">
                                                <span class="checkmark"></span> Medical
                                            </label>
                                            <label class="custom_check w-100">
                                                <input type="checkbox" name="username">
                                                <span class="checkmark"></span> Designing
                                            </label>
                                        </div>
                                        <div class="view-all">
                                            <a href="javascript:void(0);" class="viewall-button-Two"><span class="me-2">View All</span><span><i class="fa fa-circle-chevron-down"></i></span></a>
                                        </div>
                                    </div>
                                    <!-- /View All -->
                                </div>
                            </div>	
                        </div>
                    </div>
                </div>
                <!-- /Category -->
  
                <button type="submit" class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
                    <span><img src="assets/img/icons/chart.svg" class="me-2" alt="Generate report"></span>Generate report
                </button>
            </form>
            
        </div>
    </div>
  </div>	
  <!--/Add Asset -->	

<!-- Add Stock in Modal -->
<div class="modal custom-modal fade" id="stock_in" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <div class="form-header modal-header-title text-start mb-0">
                    <h4 class="mb-0">Add Stock in</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="align-center" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="input-block mb-3">
                             <label htmlFor="label">Name</label>
                             <input id="label" type="text" class="bg-white-smoke form-control" placeholder="SEO Service">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="input-block mb-3">
                             <label htmlFor="label">Quantity</label>
                             <input id="label" type="number" class="form-control" placeholder="0">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="input-block mb-3 mb-0">
                             <label htmlFor="label">Units</label>
                             <mat-select
                             [(ngModel)]="stock"
                             [ngModelOptions]="{ standalone: true }"
                             class="select mat-cust-select form-control"
                           >
                                <mat-option value="pieces">Pieces</mat-option>
                                <mat-option value="inches">Inches</mat-option>
                                <mat-option value="kilogram">Kilograms</mat-option>
                                <mat-option value="inches">Inches</mat-option>
                                <mat-option value="box">Box</mat-option>
                            </mat-select>
                        </div>
                    </div>								
                    <div class="col-lg-12">
                        <div class="input-block mb-3 mb-0">
                             <label htmlFor="label">Notes</label>
                            <textarea rows="3" cols="3" class="form-control" placeholder="Enter Notes"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" data-bs-dismiss="modal" class="btn btn-back cancel-btn me-2">Cancel</a>
                <a href="#" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn">Add Quantity</a>
            </div>
        </div>
    </div>
</div>
<!-- /Add Stock in Modal -->

<!-- Remove Stock Modal -->
<div class="modal custom-modal fade" id="stock_out" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <div class="form-header modal-header-title text-start mb-0">
                    <h4 class="mb-0">Remove Stock</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="align-center" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="input-block mb-3">
                             <label htmlFor="label">Name</label>
                             <input id="label" type="text" class="bg-white-smoke form-control" placeholder="SEO Service">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="input-block mb-3">
                             <label htmlFor="label">Quantity</label>
                             <input id="label" type="number" class="form-control" placeholder="0">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="input-block mb-3 mb-0">
                             <label htmlFor="label">Units</label>
                             <mat-select
                             [(ngModel)]="stock1"
                             [ngModelOptions]="{ standalone: true }"
                             class="select mat-cust-select form-control"
                           >
                                <mat-option value="pieces">Pieces</mat-option>
                                <mat-option value="inches">Inches</mat-option>
                                <mat-option value="kilogram">Kilograms</mat-option>
                                <mat-option value="inches">Inches</mat-option>
                                <mat-option value="box">Box</mat-option>
                            </mat-select>
                        </div>
                    </div>								
                    <div class="col-lg-12">
                        <div class="input-block mb-3 mb-0">
                             <label htmlFor="label">Notes</label>
                            <textarea rows="3" cols="3" class="form-control" placeholder="Enter Notes"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" data-bs-dismiss="modal" class="btn btn-back cancel-btn me-2">Cancel</a>
                <a href="#" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn">Remove Quantity</a>
            </div>
        </div>
    </div>
</div>
<!-- /Remove Stock Modal -->

<!-- Edit Stock in Modal -->
<div class="modal custom-modal fade" id="edit_inventory" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <div class="form-header modal-header-title text-start mb-0">
                    <h4 class="mb-0">Edit Inventory</h4>
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="align-center" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                             <label htmlFor="label">Name</label>
                             <input id="label" type="text" class="form-control" value="Lorem ipsum dolor sit">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                             <label htmlFor="label">Code</label>
                             <input id="label" type="text" class="form-control" value="P125389">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                             <label htmlFor="label">Units</label>
                             <input id="label" type="text" class="form-control" value="Box">
                        </div>
                    </div>							
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                             <label htmlFor="label">Quantity</label>
                             <input id="label" type="text" class="form-control" value="3">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                             <label htmlFor="label">Sales Price</label>
                             <input id="label" type="text" class="form-control" value="$155.00">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                             <label htmlFor="label">Purchase Price</label>
                             <input id="label" type="text" class="form-control" value="$150.00">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group mb-0">
                             <label htmlFor="label">Status</label>
                             <input id="label" type="text" class="form-control" value="Stock in">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" data-bs-dismiss="modal" class="btn btn-primary paid-cancel-btn me-2">Cancel</a>
                <a href="#" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn">Update</a>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Stock in Modal -->

<!-- Delete Stock Modal -->
<div class="modal custom-modal fade" id="delete_stock" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Inventory</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="#" class="btn btn-primary paid-continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="#" data-bs-dismiss="modal" class="btn btn-primary paid-cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Stock Modal -->
