<!-- Sidebar -->
<div
  class="sidebar" 
  (mouseover)="miniSideBarMouseHover('over')" 
  (focus)="miniSideBarMouseHover('over')"
  (mouseout)="miniSideBarMouseHover('out')"
  (blur)="miniSideBarMouseHover('out')"
  id="sidebar"
  [ngClass]="{
    'sidebar-six': headerSidebarStyle === '1' && mobileSidebar === false,
    'sidebar-seven': headerSidebarStyle === '2',
    'sidebar-eight': headerSidebarStyle === '3',
    'sidebar-nine': headerSidebarStyle === '4',
    'sidebar-four': mobileSidebar === true && headerSidebarStyle !== '1'
    
  }"
>
    <div class="sidebar-header">
      <div class="sidebar-logo">
        <a [routerLink]="routes.dashboard">
            <img src="assets/img/logo.png" class="img-fluid logo" alt="Logo">
        </a>
        <a [routerLink]="routes.dashboard">
          <img src="assets/img/logo-small.png" class="img-fluid logo-small" alt="Logo">
        </a>
      </div>
    </div>
    <ng-scrollbar  thumbClass="custom-scrollbars">
      <!-- <div class="slimScrollDiv" > -->
        <div class="sidebar-inner slimScroll">  
          
          <div
            id="sidebar-menu"
            class="sidebar-menu"
            [ngClass]="{
              'sidebar-menu-six': headerSidebarStyle === '1',
              'sidebar-menu-seven ': headerSidebarStyle === '2',
              'sidebar-menu-eight': headerSidebarStyle === '3',
              'sidebar-menu-nine': headerSidebarStyle === '4',
              'sidebar-menu-ten': primarySkinStyle === '1',
              'sidebar-menu-eleven ': primarySkinStyle === '2',
              'sidebar-menu-twelve': primarySkinStyle === '3'
            }"
          >
         
          
            <ul>
              <ng-container *ngFor="let mainTittle of side_bar_data">
                <li class="menu-title">
                  <span>{{ mainTittle.tittle }}</span>
                  
                </li>
                <ng-container *ngFor="let menu of mainTittle?.menu">
                  <li 
                    [class.active]="base === menu.base"
                    
                    *ngIf="menu?.hasSubRoute === false"
                  >
                    <a [routerLink]="menu.route"
                      ><i class="feather" [class]="'icon-' + menu.icon"></i><span>{{ menu?.menuValue }}</span></a
                    >
                  </li>
                  <li class="submenu" *ngIf="menu.hasSubRoute === true">
                    <a
                      [class.active]="base === menu.base"
                      href="javascript:void(0)"
                      (click)="expandSubMenus(menu)"
                      [ngClass]="{ subdrop: menu.showSubRoute === true }"
                      ><i class="feather" [class]="'icon-' + menu.icon"></i>
                      <span> {{ menu.menuValue }}</span>
                      <span class="menu-arrow"></span
                    ></a>
                    <ul
                      [ngClass]="
                        menu.showSubRoute === true
                          ? 'show-sub-menu'
                          : 'hide-sub-menu'
                      "
                    >
                      <ng-container *ngFor="let subMenus of menu.subMenus">
                        <li>
                          <a
                            [class.active]="currentRoute ===subMenus.base"
                            [routerLink]="subMenus.route"
                            (click)="navigateAuth(menu.menuValue)"
                            >{{ subMenus.menuValue }}
                          </a>
                        </li>
                      </ng-container>
                    </ul>
                  </li>
                </ng-container>
               
              </ng-container>
              <li><a  (click)="logOut()" class="logout "href="javascript:void(0);"><i class="feather icon-power me-6"></i>Logout</a></li>
            </ul>
          </div>
         </div>
      <!-- </div>     -->
      
    </ng-scrollbar>     
</div>
<!-- /Sidebar -->
