<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="content-page-header">
      <h5>Pages list</h5>
      <div class="list-btn">
        <ul class="filter-list">
          <li>
            <a class="btn btn-filters w-auto popup-toggle"
              ><span class="me-2"><i class="fe fe-filter"></i></span>Filter
            </a>
          </li>
          <li>
            <a class="btn-filters" href="javascript:void(0);"
              ><span><i class="fe fe-grid"></i></span>
            </a>
          </li>
          <li>
            <a class="active btn-filters" href="javascript:void(0);"
              ><span><i class="fe fe-list"></i></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-md-12">
      <div class="card-table">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-stripped table-hover datatable">
              <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>Pages</th>
                  <th>Pages Slug</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>About Us</td>
                  <td>about-us</td>
                  <td>
                    <div class="status-toggle">
                      <input
                        id="rating_1"
                        class="check"
                        type="checkbox"
                        checked
                      />
                      <label for="rating_1" class="checktoggle checkbox-bg"
                        >checkbox</label
                      >
                    </div>
                  </td>
                  <td>
                    <a
                      href="javascript:void(0);"
                      class="btn-action-icon"
                      data-bs-toggle="modal"
                      data-bs-target="#pages_edit"
                    >
                      <span><i class="fe fe-edit"></i></span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Cookie Policy</td>
                  <td>cookie-policy</td>
                  <td>
                    <div class="status-toggle">
                      <input
                        id="rating_2"
                        class="check"
                        type="checkbox"
                        checked
                      />
                      <label for="rating_2" class="checktoggle checkbox-bg"
                        >checkbox</label
                      >
                    </div>
                  </td>
                  <td>
                    <a
                      href="javascript:void(0);"
                      class="btn-action-icon"
                      data-bs-toggle="modal"
                      data-bs-target="#pages_edit"
                    >
                      <span><i class="fe fe-edit"></i></span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>FAQ</td>
                  <td>faq</td>
                  <td>
                    <div class="status-toggle">
                      <input
                        id="rating_3"
                        class="check"
                        type="checkbox"
                        checked
                      />
                      <label for="rating_3" class="checktoggle checkbox-bg"
                        >checkbox</label
                      >
                    </div>
                  </td>
                  <td>
                    <a
                      href="javascript:void(0);"
                      class="btn-action-icon"
                      data-bs-toggle="modal"
                      data-bs-target="#pages_edit"
                    >
                      <span><i class="fe fe-edit"></i></span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Helps</td>
                  <td>helps</td>
                  <td>
                    <div class="status-toggle">
                      <input
                        id="rating_4"
                        class="check"
                        type="checkbox"
                        checked
                      />
                      <label for="rating_4" class="checktoggle checkbox-bg"
                        >checkbox</label
                      >
                    </div>
                  </td>
                  <td>
                    <a
                      href="javascript:void(0);"
                      class="btn-action-icon"
                      data-bs-toggle="modal"
                      data-bs-target="#pages_edit"
                    >
                      <span><i class="fe fe-edit"></i></span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Home</td>
                  <td>home</td>
                  <td>
                    <div class="status-toggle">
                      <input
                        id="rating_5"
                        class="check"
                        type="checkbox"
                        checked
                      />
                      <label for="rating_5" class="checktoggle checkbox-bg"
                        >checkbox</label
                      >
                    </div>
                  </td>
                  <td>
                    <a
                      href="javascript:void(0);"
                      class="btn-action-icon"
                      data-bs-toggle="modal"
                      data-bs-target="#pages_edit"
                    >
                      <span><i class="fe fe-edit"></i></span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Privacy Policy</td>
                  <td>privacy-policy</td>
                  <td>
                    <div class="status-toggle">
                      <input
                        id="rating_6"
                        class="check"
                        type="checkbox"
                        checked
                      />
                      <label for="rating_6" class="checktoggle checkbox-bg"
                        >checkbox</label
                      >
                    </div>
                  </td>
                  <td>
                    <a
                      href="javascript:void(0);"
                      class="btn-action-icon"
                      data-bs-toggle="modal"
                      data-bs-target="#pages_edit"
                    >
                      <span><i class="fe fe-edit"></i></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Asset -->
<div class="toggle-sidebar">
  <div class="sidebar-layout-filter">
    <div class="sidebar-header">
      <h5>Filter</h5>
      <a href="#" class="sidebar-closes"
        ><i class="fa-regular fa-circle-xmark"></i
      ></a>
    </div>
    <div class="sidebar-body">
      <form action="#" autocomplete="off">
        <!-- Customer -->
        <div class="accordion" id="accordionMain1">
          <div class="card-header-new" id="headingOne">
            <h6 class="filter-title">
              <a
                href="javascript:void(0);"
                class="w-100"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Customer
                <span class="float-end"
                  ><i class="fa-solid fa-chevron-down"></i
                ></span>
              </a>
            </h6>
          </div>

          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample1"
          >
            <div class="card-body-chat">
              <div class="row">
                <div class="col-md-12">
                  <div id="checkBoxes1">
                    <div class="form-custom">
                      <input
                        type="text"
                        class="form-control"
                        id="member_search1"
                        placeholder="Search here"
                      />
                      <span
                        ><img src="assets/img/icons/search.svg" alt="img"
                      /></span>
                    </div>
                    <div class="selectBox-cont">
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username" />
                        <span class="checkmark"></span> Brian Johnson
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username" />
                        <span class="checkmark"></span> Russell Copeland
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username" />
                        <span class="checkmark"></span> Greg Lynch
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username" />
                        <span class="checkmark"></span> John Blair
                      </label>
                      <!-- View All -->
                      <div class="view-content">
                        <div class="viewall-One">
                          <label class="custom_check w-100">
                            <input type="checkbox" name="username" />
                            <span class="checkmark"></span> Barbara Moore
                          </label>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="username" />
                            <span class="checkmark"></span> Hendry Evan
                          </label>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="username" />
                            <span class="checkmark"></span> Richard Miles
                          </label>
                        </div>
                        <div class="view-all">
                          <a
                            href="javascript:void(0);"
                            class="viewall-button-One"
                            ><span class="me-2">View All</span
                            ><span
                              ><i class="fa fa-circle-chevron-down"></i></span
                          ></a>
                        </div>
                      </div>
                      <!-- /View All -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Customer -->

        <!-- Select Date -->
        <div class="accordion" id="accordionMain2">
          <div class="card-header-new" id="headingTwo">
            <h6 class="filter-title">
              <a
                href="javascript:void(0);"
                class="w-100 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="true"
                aria-controls="collapseTwo"
              >
                Select Date
                <span class="float-end"
                  ><i class="fa-solid fa-chevron-down"></i
                ></span>
              </a>
            </h6>
          </div>

          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample2"
          >
            <div class="card-body-chat">
              <div class="form-group">
                <label class="form-control-label">From</label>
                <div class="cal-icon">
                  <input
                    type="email"
                    class="form-control datetimepicker"
                    placeholder="DD-MM-YYYY"
                  />
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label">To</label>
                <div class="cal-icon">
                  <input
                    type="email"
                    class="form-control datetimepicker"
                    placeholder="DD-MM-YYYY"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Select Date -->

        <!-- By Status -->
        <div class="accordion" id="accordionMain3">
          <div class="card-header-new" id="headingThree">
            <h6 class="filter-title">
              <a
                href="javascript:void(0);"
                class="w-100 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="true"
                aria-controls="collapseThree"
              >
                By Status
                <span class="float-end"
                  ><i class="fa-solid fa-chevron-down"></i
                ></span>
              </a>
            </h6>
          </div>

          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample3"
          >
            <div class="card-body-chat">
              <div id="checkBoxes2">
                <div class="form-custom">
                  <input
                    type="text"
                    class="form-control"
                    id="member_search2"
                    placeholder="Search here"
                  />
                  <span
                    ><img src="assets/img/icons/search.svg" alt="img"
                  /></span>
                </div>
                <div class="selectBox-cont">
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus" />
                    <span class="checkmark"></span> All Invoices
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus" />
                    <span class="checkmark"></span> Paid
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus" />
                    <span class="checkmark"></span> Overdue
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus" />
                    <span class="checkmark"></span> Draft
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus" />
                    <span class="checkmark"></span> Recurring
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus" />
                    <span class="checkmark"></span> Cancelled
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /By Status -->

        <!-- Category -->
        <div class="accordion accordion-last" id="accordionMain4">
          <div class="card-header-new" id="headingFour">
            <h6 class="filter-title">
              <a
                href="javascript:void(0);"
                class="w-100 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="true"
                aria-controls="collapseFour"
              >
                Category
                <span class="float-end"
                  ><i class="fa-solid fa-chevron-down"></i
                ></span>
              </a>
            </h6>
          </div>

          <div
            id="collapseFour"
            class="collapse"
            aria-labelledby="headingFour"
            data-bs-parent="#accordionExample4"
          >
            <div class="card-body-chat">
              <div id="checkBoxes3">
                <div class="selectBox-cont">
                  <label class="custom_check w-100">
                    <input type="checkbox" name="category" />
                    <span class="checkmark"></span> Advertising
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="category" />
                    <span class="checkmark"></span> Food
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="category" />
                    <span class="checkmark"></span> Repairs
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="category" />
                    <span class="checkmark"></span> Software
                  </label>
                  <!-- View All -->
                  <div class="view-content">
                    <div class="viewall-Two">
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username" />
                        <span class="checkmark"></span> Stationary
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username" />
                        <span class="checkmark"></span> Medical
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username" />
                        <span class="checkmark"></span> Designing
                      </label>
                    </div>
                    <div class="view-all">
                      <a href="javascript:void(0);" class="viewall-button-Two"
                        ><span class="me-2">View All</span
                        ><span><i class="fa fa-circle-chevron-down"></i></span
                      ></a>
                    </div>
                  </div>
                  <!-- /View All -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Category -->

        <button
          type="submit"
          class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary"
        >
          <span
            ><img
              src="assets/img/icons/chart.svg"
              class="me-2"
              alt="Generate report" /></span
          >Generate report
        </button>
      </form>
    </div>
  </div>
</div>
<!--/Add Asset -->

<!-- Modal -->
<div class="modal custom-modal fade" id="pages_edit" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <div class="form-header modal-header-title text-start mb-0">
          <h4 class="mb-0">Edit Page</h4>
        </div>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span class="align-center" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="form-group">
              <label>Page Title(English)</label>
              <input type="text" class="form-control" placeholder="About Us" />
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="form-group">
              <label>Page Slug</label>
              <input type="text" class="form-control" placeholder="about-us" />
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="form-group mb-0">
              <label>Page Content(English)</label>
              <textarea
                rows="5"
                cols="5"
                class="form-control"
                placeholder="about us page contents"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a
          href="javascript:void(0);"
          data-bs-dismiss="modal"
          class="btn btn-back me-2"
          >Back</a
        >
        <a
          href="javascript:void(0);"
          data-bs-dismiss="modal"
          class="btn btn-primary"
          >Save</a
        >
      </div>
    </div>
  </div>
</div>
<!-- /Modal -->
