		
        <!-- Page Header -->
        <div class="page-header">
            <div class="content-page-header">
                <h5>Pages list</h5>
                <div class="list-btn">
                    <ul class="filter-list">
                        <li>
                            <a (click)="open()" href="javascript:void(0);" class="btn btn-filters w-auto popup-toggle"><span class="me-2"><i class="feather icon-filter"></i></span>Filter </a>
                        </li>
                        <li>
                            <a class="btn-filters" href="javascript:void(0);"><span><i class="feather icon-grid"></i></span> </a>
                        </li>
                        <li>
                            <a class="active btn-filters" href="javascript:void(0);"><span><i class="feather icon-list"></i></span> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <div class="row">
            <div class="col-md-12">
                <div class="card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table matSort
                            (matSortChange)="sortData($event)" 
                            class="table table-stripped table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th mat-sort-header="sNo">#</th>
                                        <th mat-sort-header="pages">Pages</th>
                                        <th mat-sort-header="slug">Pages Slug</th>
                                        <th mat-sort-header="status">Status </th>
                                        <th mat-sort-header="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let item of pages; let i = index">
                                        <td>{{item.sNo}}</td>
                                        <td>{{item.pages}}</td>
                                        <td>{{item.slug}}</td>
                                        <td>
                                            <div class="status-toggle">
                                                <input id="rating_1" class="check" type="checkbox" checked>
                                                <label for="rating_1" class="checktoggle checkbox-bg">checkbox</label>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="btn-action-icon" data-bs-toggle="modal" data-bs-target="#pages_edit">
                                                <span><i class="feather icon-edit"></i></span>
                                            </a>
                                        </td>
                                        
                                           
                                        
                                    </tr>
                                </tbody>
                            </table>
                            <div class="table_header">
                                <div class="row">
                                  <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length">
                                      <label>
                                        Show
                                        <select
                                          [(ngModel)]="pageSize"
                                          (ngModelChange)="PageSize()"
                                          class="form-control form-control-sm"
                                        >
                                          <option value="10">10</option>
                                          <option value="25">25</option>
                                          <option value="50">50</option>
                                          <option value="100">100</option>
                                        </select>
                                        Entries
                                      </label>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                  <div class="pagination_section">
                                    <ul class="pagination">
                                      <li
                                        class="page-item "
                                        [ngClass]="{
                                          disabled: currentPage === 1
                                        }"
                                      >
                                        <a
                                          (click)="getMoreData('previous')"
                                          class="page-link"
                                          href="javascript:void(0);"
                                          tabindex="-1"
                                          ><i class="fa fa-angle-double-left me-2"></i>Previous</a
                                        >
                                      </li>
                    
                                      <ng-container
                                        *ngFor="let item of pageNumberArray; let i = index"
                                      >
                                        <li
                                          class="page-item"
                                          [class.active]="item === currentPage"
                                          [ngClass]="
                                            (pageNumberArray[currentPage - 2] > item &&
                                              item !== 1 &&
                                              pageNumberArray.length > 6) ||
                                            (pageNumberArray[currentPage] < item &&
                                              item !==1 &&
                                              pageNumberArray.length > 6 &&
                                              pageNumberArray.length !==item)
                                              ? 'hide-sub-menu'
                                              : 'show-sub-menu'
                                          "
                                        >
                                          <a
                                            (click)="moveToPage(item)"
                                            class="page-link"
                                            href="javascript:void(0);"
                                          >
                                            {{ item }}
                                            <span *ngIf="item === currentPage" class="sr-only"
                                              >(current)</span
                                            >
                                          </a>
                                        </li>
                                        <li
                                          class="page-item"
                                          *ngIf="
                                            i === 0 && pageNumberArray.length > 6 && currentPage > 2
                                          "
                                          [hidden]="currentPage === 1"
                                         
                                        >
                                          <a class="page-link"  (click)="moveToPage(currentPage - 2)" tabindex="0" href="javascript:void(0);"> ... </a>
                                        </li>
                                        <li
                                          *ngIf="
                                            i === pageNumberArray.length - 2 &&
                                            pageNumberArray.length > 6
                                          "
                                          [hidden]="
                                            currentPage >=
                                              pageNumberArray[pageNumberArray.length - 2] ||
                                            totalData <
                                              serialNumberArray[serialNumberArray.length - 1]
                                          "
                                          class="page-item"
                                          
                                        >
                                          <a class="page-link" (click)="moveToPage(currentPage + 2)" href="javascript:void(0);"> ... </a>
                                        </li>
                                      </ng-container>
                    
                                      <li
                                        class="page-item"
                                        [ngClass]="{
                                          disabled:
                                            currentPage ===
                                              pageNumberArray[pageNumberArray.length - 1] ||
                                            pages.length === 0
                                        }"
                                      >
                                        <a
                                          (click)="getMoreData('next')"
                                          class="page-link"
                                          href="javascript:void(0);"
                                          >Next<i class="fa fa-angle-double-right ms-2"></i>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  

<!-- Add Asset -->
<div [ngClass]="{'open-filter' : Toggledata === true}" class="toggle-sidebar">
  <div class="sidebar-layout-filter">
      <div class="sidebar-header">
          <h5>Filter</h5>
          <a (click)="open()"  href="javascript:void(0);" class="sidebar-closes"><i class="fa-regular fa-circle-xmark"></i></a>
      </div>
      <div class="sidebar-body">						
          <form action="#" autocomplete="off">
              <!-- Customer -->
              <div class="accordion" id="accordionMain1">
                  <div class="card-header-new" id="headingOne">
                      <h6 class="filter-title">
                      <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Customer	
                          <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                      </a> 
                      </h6>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"  data-bs-parent="#accordionExample1">
                      <div class="card-body-chat">
                          <div class="row">
                              <div class="col-md-12">
                                  <div id="checkBoxes1">
                                      <div class="form-custom">														
                                          <input type="text" class="form-control" id="member_search1" placeholder="Search here">
                                          <span><img src="assets/img/icons/search.svg" alt="img"></span>
                                      </div>
                                      <div class="selectBox-cont">
                                          <label class="custom_check w-100">
                                              <input type="checkbox" name="username">
                                              <span class="checkmark"></span>  Brian Johnson
                                          </label>
                                          <label class="custom_check w-100">
                                              <input type="checkbox" name="username">
                                              <span class="checkmark"></span>  Russell Copeland
                                          </label>
                                          <label class="custom_check w-100">
                                              <input type="checkbox" name="username">
                                              <span class="checkmark"></span>  Greg Lynch
                                          </label>
                                          <label class="custom_check w-100">
                                              <input type="checkbox" name="username">
                                              <span class="checkmark"></span> John Blair
                                          </label>
                                          <!-- View All -->
                                          <div class="view-content" >
                                            <div class="viewall-One" *ngFor="let user of users" [ngClass]="{'open': !isCollapsed, 'closed': isCollapsed}">	
                                              <label class="custom_check w-100">
                                                <input type="checkbox" name="username" [(ngModel)]="user.checked">
                                                <span class="checkmark"></span> {{ user.name }}
                                              </label>
                                            </div>
                                            <div class="view-all">
                                              <a href="javascript:void(0);" class="viewall-button-One" (click)="toggleCollapse()"><span class="me-2">{{ isCollapsed ? 'View All' : 'Close' }}</span><span><i class="fa fa-circle-chevron-down"></i></span></a>
                                            </div>
                                          </div>
                                          <!-- /View All -->
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- /Customer -->

              <!-- Select Date -->
              <div class="accordion" id="accordionMain2">
                  <div class="card-header-new" id="headingTwo">
                      <h6 class="filter-title">
                      <a href="javascript:void(0);" class="w-100 collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                          Select Date	
                          <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                      </a> 
                      </h6>
                  </div>
              
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"  data-bs-parent="#accordionExample2">
                      <div class="card-body-chat">
                          <div class="form-group">
                              <label htmlFor="label" class="form-control-label">From</label>
                                  <input id="label" matInput [matDatepicker]="picker1" type="email" class="form-control datetimepicker" placeholder="DD-MM-YYYY">
                                  <mat-datepicker-toggle matIconSuffix [for]="picker1" class="date-mat-datepicker1-toggle"></mat-datepicker-toggle>
                                  <mat-datepicker #picker1></mat-datepicker>
                          </div>
                          <div class="form-group">
                              <label htmlFor="label" class="form-control-label">To</label>
                                  <input id="label" matInput [matDatepicker]="picker2" type="email" class="form-control datetimepicker" placeholder="DD-MM-YYYY">
                                  <mat-datepicker-toggle matIconSuffix [for]="picker2" class="date-mat-datepicker2-toggle" ></mat-datepicker-toggle>
                                  <mat-datepicker #picker2></mat-datepicker>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- /Select Date -->

              <!-- By Status -->
              <div class="accordion" id="accordionMain3">
                  <div class="card-header-new" id="headingThree">
                      <h6 class="filter-title">
                      <a href="javascript:void(0);" class="w-100 collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                          By Status	
                          <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                      </a> 
                      </h6>
                  </div>
              
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree"  data-bs-parent="#accordionExample3">
                      <div class="card-body-chat">
                          <div id="checkBoxes2">
                              <div class="form-custom">														
                                  <input type="text" class="form-control" id="member_search2" placeholder="Search here">
                                  <span><img src="assets/img/icons/search.svg" alt="img"></span>
                              </div>
                              <div class="selectBox-cont">
                                  <label class="custom_check w-100">
                                      <input type="checkbox" name="bystatus">
                                      <span class="checkmark"></span> All Invoices
                                  </label>
                                  <label class="custom_check w-100">
                                      <input type="checkbox" name="bystatus">
                                      <span class="checkmark"></span>  Paid
                                  </label>
                                  <label class="custom_check w-100">
                                      <input type="checkbox" name="bystatus">
                                      <span class="checkmark"></span>  Overdue
                                  </label>
                                  <label class="custom_check w-100">
                                      <input type="checkbox" name="bystatus">
                                      <span class="checkmark"></span> Draft
                                  </label>
                                  <label class="custom_check w-100">
                                      <input type="checkbox" name="bystatus">
                                      <span class="checkmark"></span> Recurring
                                  </label>
                                  <label class="custom_check w-100">
                                      <input type="checkbox" name="bystatus">
                                      <span class="checkmark"></span> Cancelled
                                  </label>
                              </div>
                          </div>	
                      </div>
                  </div>
              </div>
              <!-- /By Status -->

              <!-- Category -->
              <div class="accordion accordion-last" id="accordionMain4">
                  <div class="card-header-new" id="headingFour">
                      <h6 class="filter-title">
                      <a href="javascript:void(0);" class="w-100 collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                          Category	
                          <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                      </a> 
                      </h6>
                  </div>
              
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour"  data-bs-parent="#accordionExample4">
                      <div class="card-body-chat">
                          <div id="checkBoxes3">
                              <div class="selectBox-cont">
                                  <label class="custom_check w-100">
                                      <input type="checkbox" name="category">
                                      <span class="checkmark"></span> Advertising
                                  </label>
                                  <label class="custom_check w-100">
                                      <input type="checkbox" name="category">
                                      <span class="checkmark"></span>  Food
                                  </label>
                                  <label class="custom_check w-100">
                                      <input type="checkbox" name="category">
                                      <span class="checkmark"></span>  Repairs
                                  </label>
                                  <label class="custom_check w-100">
                                      <input type="checkbox" name="category">
                                      <span class="checkmark"></span> Software
                                  </label>
                                  <!-- View All -->
                                  <div class="view-content">
                                      <div class="viewall-Two">	
                                          <label class="custom_check w-100">
                                              <input type="checkbox" name="username">
                                              <span class="checkmark"></span> Stationary
                                          </label>
                                          <label class="custom_check w-100">
                                              <input type="checkbox" name="username">
                                              <span class="checkmark"></span> Medical
                                          </label>
                                          <label class="custom_check w-100">
                                              <input type="checkbox" name="username">
                                              <span class="checkmark"></span> Designing
                                          </label>
                                      </div>
                                      <div class="view-all">
                                          <a href="javascript:void(0);" class="viewall-button-Two"><span class="me-2">View All</span><span><i class="fa fa-circle-chevron-down"></i></span></a>
                                      </div>
                                  </div>
                                  <!-- /View All -->
                              </div>
                          </div>	
                      </div>
                  </div>
              </div>
              <!-- /Category -->

              <button type="submit" class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
                  <span><img src="assets/img/icons/chart.svg" class="me-2" alt="Generate report"></span>Generate report
              </button>
          </form>
          
      </div>
  </div>
</div>	
<!--/Add Asset -->	

<!-- Modal -->
<div class="modal custom-modal fade" id="pages_edit" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <div class="form-header modal-header-title text-start mb-0">
                    <h4 class="mb-0">Edit Page</h4>
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="align-center" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label htmlFor="label">Page Title(English)</label>
                            <input id="label" type="text" class="form-control" placeholder="About Us">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label htmlFor="label">Page Slug</label>
                            <input id="label" type="text" class="form-control" placeholder="about-us">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group mb-0">
                            <label htmlFor="label">Page Content(English)</label>
                            <textarea rows="5" cols="5" class="form-control" placeholder="about us page contents"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-back me-2">Back</a>
                <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary">Save</a>
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->