<div class="content container-fluid">
  <div class="content-page-header">
    <h5>Add User</h5>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card-body">
        <div class="form-group-item">
          <h5 class="form-title">Profile Picture</h5>
          <div class="profile-picture">
            <div class="upload-profile">
              <div class="profile-img">
                <img
                  id="blah"
                  class="avatar"
                  src="assets/img/profiles/avatar-10.jpg"
                  alt=""
                />
              </div>
              <div class="add-profile">
                <h5>Upload a New Photo</h5>
                <span>Profile-pic.jpg</span>
              </div>
            </div>
            <div class="img-upload">
              <a class="btn btn-primary me-2">Upload</a>
              <a class="btn btn-remove">Remove</a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="form-group">
                <label>First Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter First Name"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Last Name"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="form-group">
                <label>User Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter User Name"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Email</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter Email Address"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Phone Number"
                  name="name"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Role</label>
                <select class="select">
                  <option>Select Role</option>
                  <option>Role 1</option>
                  <option>Role 2</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="pass-group" id="passwordInput1">
                <div class="form-group">
                  <label>Password</label>
                  <input
                    type="password"
                    class="form-control pass-input"
                    placeholder=""
                  />
                  <span class="toggle-password feather-eye"></span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="pass-group" id="passwordInput2">
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input
                    type="password"
                    class="form-control pass-input"
                    placeholder=""
                  />
                  <span class="toggle-password feather-eye"></span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Status</label>
                <select class="select">
                  <option>Select Status</option>
                  <option>Active</option>
                  <option>Inactive</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="text-end">
          <button type="reset" class="btn btn-primary cancel me-2">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
